/************************************** 1.1 Header	**************************************/
header{
	height: 80px;
	border-bottom: 1px solid #dddddd;
	padding: 20px 30px;
	font-family: $font-mont;
	.logo{
		line-height: 40px;
	}
	.navbar{
		padding: 0;
		margin: 0;
		ul{
			li{
				a{
					font-weight: bold;
					font-size: 14px;
					color: #000 !important;
					padding-right: 48px !important;
					
					&:hover{
						color: $color !important;
					}
					i{
						line-height: 40px;
					}
				}
			}
		}
		button{
			border: none;
			color: #000;
		}
	}
	.header-right{
		line-height: 40px;
		a{
			margin-left: 30px;
			color: #000;
			font-size: 20px;
			&:hover{
				color: $color;
			}
		}
	}
}