// Small devices (landscape phones, 576px)
@media (max-width: 576px) {
	.header-right{
		.wishlist{
			display: none;
		}
		a{
			margin-left: 5px;
		}
	}
}
@media (max-width: 768px) {
	header{
		.logo{
			justify-content: center;
			display: flex;
			line-height: 20px;
		}

		#nav-mobile{
			z-index: 200;
			background: #fff;
			ul{
				li{
					border-top: 1px solid #dddddd;
					width: 300px;
					a{
						padding-left: 20px;
					}
				}
			}
		}
	}

	#slider{
		.item-slider{
			.img-slider{
				max-height: 160px !important;
			}
		}
	}

	footer{
		.container-fuild{
			.coppy-right{
				p{
					display: flex;
					justify-content: center;
					line-height: 40px;
				}
				.heart{
					line-height: 40px;
				}
			}
		}

		.payment{
			line-height: 40px;
			display: flex;
			justify-content: center;
		}
	}
}


@media screen and (max-width: 991px){
	header{
		.menu-mobile{
			display: flex;
			justify-content: flex-start;
		}
	}
	#shop{
		.item{
			.img-item{
				img{
					width: 100%;
				}
			}
		}
	}
}


@media screen and (min-width: 992px){
	header{
		.menu-mobile{
			display: flex;
			justify-content: flex-end;
		}
		#nav-mobile{
			ul{
				li{
					a{
						padding-right: 15px !important;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px){
	header{
		#nav-mobile{
			ul{
				li{
					a{
						padding-right: 30px !important;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	header{
		.menu-mobile{
			display: flex;
			justify-content: center;
		}
		#nav-mobile{
			ul{
				li{
					a{
						padding-right: 48px !important;
					}
				}
			}
		}
	}
}






