/* 
1.0 Base
    1.1 Header
    1.2 Footer
2.0 Content
    2.1 Home Page Content
    2.2 Shop
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/style\.scss}line{font-family:\0000314}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/************************************** 1.1 Header	**************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\000032}}
header {
  height: 80px;
  border-bottom: 1px solid #dddddd;
  padding: 20px 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\000036}}
header .logo {
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\000038}}
header .logo a {
  border: 2px solid #000;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000316}}
header .logo a:hover {
  text-decoration: none;
  color: #8262b5;
  border: 2px solid #8262b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000323}}
header .navbar {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000328}}
header .navbar ul li a {
  font-weight: bold;
  font-size: 14px;
  color: #000 !important;
  padding-right: 48px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000333}}
header .navbar ul li a:hover {
  color: #8262b5 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000336}}
header .navbar ul li a i {
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000342}}
header .navbar button {
  border: none;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000347}}
header .header-right {
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000349}}
header .header-right a {
  margin-left: 30px;
  color: #000;
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_header\.scss}line{font-family:\0000353}}
header .header-right a:hover {
  color: #8262b5;
}

/************************************** 1.2 Footer	**************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\000032}}
footer {
  background: #222;
  width: 100%;
  color: #888;
  padding-top: 60px;
  font-family: "OpenSans", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\000038}}
footer a {
  color: #888;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000312}}
footer hr {
  background: #888;
  margin: 30px 0 20px 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000316}}
footer h4 {
  font-size: 16px !important;
  font-weight: 600;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000321}}
footer p {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000324}}
footer .footer-top {
  padding-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000328}}
footer .footer-descreption p {
  line-height: 23px !important;
  margin-bottom: 40px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000336}}
footer .social ul li a {
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000338}}
footer .social ul li a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000345}}
footer .container-fuild {
  border-top: 1px solid #888;
  line-height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000349}}
footer .container-fuild .coppy-right p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000353}}
footer .container-fuild .coppy-right .heart {
  color: #ff4628;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000356}}
footer .container-fuild .coppy-right .text-right {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000361}}
footer .payment {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000363}}
footer .payment i {
  font-size: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000365}}
footer .payment i:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000372}}
footer .footer-navigation li a {
  line-height: 30px !important;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000375}}
footer .footer-navigation li a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000383}}
footer .location p {
  line-height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_footer\.scss}line{font-family:\0000386}}
footer .location i {
  float: left;
  margin: 3px 15px 0 0;
}

@media (max-width: 576px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\000034}}
  .header-right .wishlist {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\000037}}
  .header-right a {
    margin-left: 5px;
  }
}
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000314}}
  header .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000318}}
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000324}}
  header #nav-mobile {
    z-index: 200;
    background: #fff;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000328}}
  header #nav-mobile ul li {
    border-top: 1px solid #dddddd;
    width: 300px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000331}}
  header #nav-mobile ul li a {
    padding-left: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000342}}
  #shop .item .img-item img {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000351}}
  #slider .item-slider .img-slider {
    max-height: 160px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000360}}
  footer .container-fuild .coppy-right p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000365}}
  footer .container-fuild .coppy-right .heart {
    line-height: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000371}}
  footer .payment {
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/base\/_responsive\.scss}line{font-family:\0000381}}
  header .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1200px) {
  max-width: 1140px;
}
/************************************** 2.1 Home_page_content	**************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\000032}}
#banner {
  padding: 30px 0 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\000035}}
#banner .banner-1 {
  background: #eeeeee;
  height: 560px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000312}}
#banner .banner-1 .content-banner-1 {
  position: absolute;
  bottom: 28.5%;
  right: 13%;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000317}}
#banner .banner-1 .content-banner-1 a {
  padding: 12px 15px;
  background: #8262b5;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000322}}
#banner .banner-1 .content-banner-1 h3 {
  margin-bottom: 20px !important;
  font-family: "Pacifico", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000329}}
#banner .banner-2 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000336}}
#banner .banner-2 .content-banner-2 {
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000341}}
#banner .banner-2 .content-banner-2 span {
  color: #6e6e6e;
  font-weight: light;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000348}}
#banner .banner-3 {
  height: 330px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000354}}
#banner .banner-3 .content-banner-3 {
  position: absolute;
  bottom: 37%;
  left: 11%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000358}}
#banner .banner-3 .content-banner-3 span {
  color: #6e6e6e;
  font-weight: light;
  font-family: Montserrat;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000364}}
#banner .banner-3 .content-banner-3 a {
  padding: 12px 15px;
  background: #8262b5;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000369}}
#banner .banner-3 .content-banner-3 h4 {
  margin-bottom: 20px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000376}}
#slider {
  height: 705px;
  padding: 70px 0;
  background-image: url("../images/background-slider.jpg");
  background-repeat: no-repeat;
  background-size: auto cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000382}}
#slider .title-slider {
  margin-bottom: 50px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000385}}
#slider .title-slider span {
  color: #8262b5;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: bold;
  letter-spacing: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\0000392}}
#slider .title-slider h3 {
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: bold;
  letter-spacing: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003100}}
#slider .title-slider .title-underline {
  width: 50px;
  height: 1px;
  background: #8262b5;
  margin: 24px auto 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003109}}
#slider .item-slider:hover .img-slider {
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003112}}
#slider .item-slider:hover .img-slider img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003116}}
#slider .item-slider:hover .img-slider img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003124}}
#slider .item-slider .img-slider {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003128}}
#slider .item-slider .img-slider img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003132}}
#slider .item-slider .img-slider img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003138}}
#slider .item-slider .img-slider .calendar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 200;
  background-color: #a1d1dd;
  color: #fff;
  width: 54px;
  height: 54px;
  padding: 6px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003149}}
#slider .item-slider .img-slider .calendar p {
  font-family: Montserrat;
  border: 1px solid #fff;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003158}}
#slider .item-slider .content-slider {
  background: #fff;
  padding: 16px 20px 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003161}}
#slider .item-slider .content-slider a {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003163}}
#slider .item-slider .content-slider a:hover {
  text-decoration: none;
  color: #8262b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003168}}
#slider .item-slider .content-slider h5 {
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003173}}
#slider .item-slider .content-slider p {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: light;
  color: #424242;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003180}}
#slider .item-slider .content-slider .info-slider {
  border-top: 1px solid #ededed;
  padding: 14px 0;
  color: #c0c0c0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003184}}
#slider .item-slider .content-slider .info-slider ul {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003185}}
#slider .item-slider .content-slider .info-slider ul li {
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003189}}
#slider .item-slider .content-slider .info-slider ul i {
  margin-right: 5px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003198}}
#slider .owl-theme .owl-dots {
  margin-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003201}}
#slider .owl-theme .owl-dots .active span {
  background: #8262b5 !important;
  height: 13px;
  width: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_home_page_content\.scss}line{font-family:\00003208}}
#slider .owl-theme .owl-dots .owl-dot span {
  background: #ccbfe0;
}

/*********************************** 2.2 Shop ******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\000032}}
#shop {
  padding-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\000034}}
#shop .title-shop {
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\000036}}
#shop .title-shop span {
  color: #8262b5;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000312}}
#shop .title-shop h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 22px 0;
  color: #000;
  letter-spacing: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000320}}
#shop .title-shop .title-underline {
  width: 50px;
  height: 1px;
  background: #8262b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000326}}
#shop .item {
  padding-bottom: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000329}}
#shop .item .img-item {
  position: relative;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000332}}
#shop .item .img-item .add-to-cart {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000336}}
#shop .item .img-item .add-to-cart a {
  font-family: Montserrat;
  font-size: 12px;
  color: #424242;
  background: #fff;
  padding: 12px 15px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000343}}
#shop .item .img-item .add-to-cart a:hover {
  color: #8262b5;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000351}}
#shop .item .content-item {
  padding-top: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000353}}
#shop .item .content-item a {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000355}}
#shop .item .content-item a:hover {
  text-decoration: none;
  color: #8262b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000360}}
#shop .item .content-item .name-product {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000365}}
#shop .item .content-item .bright-star {
  color: #f8ba04;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000368}}
#shop .item .content-item .list-inline {
  margin-bottom: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000371}}
#shop .item .content-item .old-price {
  color: #999;
  text-decoration: line-through;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000375}}
#shop .item .content-item .sale-price {
  color: #8262b5;
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nguyenducchung\/Sites\/AHT\/project\/assets\/scss\/content\/_shop\.scss}line{font-family:\0000381}}
#shop .item .content-item li {
  margin-right: -3px;
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */